.wy-nav-side {
  background-color: #033c2a;
}

.wy-side-nav-search {
  background-color: #0d684d;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #03d294;
}


@media screen and (min-width:1100px) {
 .wy-nav-content-wrap {
  background-color: rgb(3, 60, 42, 0.3); /* desaturated dark green, 033c2a */
 }
 .wy-nav-content {
  background-color: #f3f3f3;
 }
}

.wy-menu-vertical li.current > a, .wy-menu-vertical li.on a {
  background-color: #f3f3f3;
}

.wy-menu-vertical li.current > a:hover, .wy-menu-vertical li.on a:hover {
  background-color: #dcd42a;
}

.wy-side-nav-search .wy-dropdown > a img.logo,
.wy-side-nav-search > a img.logo {
  width: 18rem;
  padding-right: 0.8rem;
}

.wy-side-nav-search .wy-dropdown > a,
.wy-side-nav-search > a {
  margin-bottom: 0.4rem;
}
